/* ------------------- PAGE STYLING ------------------- */
body {
    margin: 0;
    padding: 0;
    background: #333;
    color: #fff;
    line-height: 1.6;
    height: 100vh;
}

.container {
    /* takes up whole body */
    width: 100%;
    height: 100%;
    /* set vertical overflow to scroll */
    overflow-y: scroll;
    /* make scroll behaviour smooth. not cross browser compatible */
    scroll-behavior: smooth;
    /* make sure it hits one page */
    scroll-snap-type: y mandatory;
}

/* ------------------- NAVIGATION BAR ------------------- */
.navbar {
    /* keep it at top of screen*/
    position: fixed;
    top: 0;
    /* Always on top of other content*/
    z-index: 1;
    /* ul inside will be flex */
    display: flex;
    width: 100%;
    height: 60px;
    background: #ccc;
}

.navbar ul {
    /* lets you align the items */
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    /* 1 rem on left right */
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li {
    /* 1 rem on left right */
    margin: 0 1rem;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
}

.navbar ul li a:hover {
    color: skyblue;
}

/* ------------------- ALL SECTIONS ------------------- */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* make it full size */
    width: 100%;
    height: 100vh;
    /* snap into full page */
    scroll-snap-align: center;
}

section h1 {
    font-size: 4rem;
}

section p {
    font-size: 1.5rem;
}

/* ------------------- CAROUSEL ------------------- */
.carousel-container {
    width: 80%;
    /* centers the container */
    margin: 25px auto;
  }
  
.carousel {
  /* border: 1px solid #FFF; */
  /* define height by length of content */
  height: 800px;
  /* need this to position child arrow elements absolutely */
  position: relative;
  /* only see whichever slider is present at the time */
  overflow: hidden;
}

.slider {
    /* fill height of parent */
    height: 100%;
    /* automatically aligns content horizontally*/
    display: flex;
    /* set width to be 4x parent = only show 1 slider at a time */
    width: 400%;
    /* so you can see movement */
    transition: all 0.3s;
  }
  
  .slider section {
    /* hold same space within slider */
    flex-basis: 100%;
    /* center the content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls .arrow {
    position: absolute;
    /* center them */
    top: 50%;
    /* center them better */
    transform:translateY(-50%);
    /* MORE OBVIOUS TO USER THAT THEY ARE INTERACTIVE */
    cursor: pointer;
}
  
.controls .arrow i {
    font-size: 50px;
}

/* position the arrows */
.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.controls ul {
    position: absolute;
    bottom: 20px;
    /* center it */
    left: 50%;
    transform: translate(-50%);
    /* remove bullet points */
    list-style: none;
    /* align horizontally */
    display: flex;
    /* centers the 4 circles below */
    margin: 0;
    padding: 0;
  }
  
  .controls ul li {
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    /* make border circles, not squares */
    border-radius: 50px;
    /* space them out */
    margin: 10px;
    background: #000;
    cursor: pointer;
  }
  
  /* if they are selected, turn transparent */
  .controls ul li.selected {
    background: #FFC759;
  }