/* GRID TEMPLATE */

/* Use a container to define the layout */
.container {
    display: grid;
    height: 100vh;
    /* make 3 columns, 1fr wide each */
    grid-template-columns: 1fr 1fr 1fr;
    /* make 4 rows of sizes relevant to markup design */
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.2fr;
    grid-template-areas:
        "nav nav nav"
        "main main main"
        "content1 content2 content3"
        "footer footer footer";
    /* add equal spacing between element */
    grid-gap: 0.2rem;
  }

/* NAVIGATION */

nav {
    background: #FFC759;
    /* acts as an id for the grid */
    grid-area: nav;
    padding-top: 5px;
}

.nav-links {
    /* displays the links horizontally */
    display: flex;
    justify-content: space-around;
    width: 50%;
    /* remove bullet points */
    list-style: none;
    /* make everything upper case */
    text-transform: uppercase;
    /* move to the right of screen */
    float: right;

}

.nav-links a {
    /* Make links white and remove the underline */
    color: white;
    text-decoration: none;
    /* make letters bold, slightly spaced */
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

main {
    background: #5a79a1;
    grid-area: main;
}

#content1 {
    background: lightblue;
    grid-area: content1;
}

#content2 {
    background: #D7D9CE;
    grid-area: content2;
}

#content3 {
    background: #F26430;
    grid-area: content3;
}

footer {
    background: #b3f5c2;
    grid-area: footer;
}