/* ------------------- PAGE STYLING ------------------- */
body {
    margin: 0;
    padding: 0;
    background: #333;
    color: #fff;
    line-height: 1.6;
    height: 100vh;
}

.container {
    /* takes up whole body */
    width: 100%;
    height: 100%;
    /* set vertical overflow to scroll */
    overflow-y: scroll;
    /* make scroll behaviour smooth. not cross browser compatible */
    scroll-behavior: smooth;
    /* make sure it hits one page */
    scroll-snap-type: y mandatory;
}

/* ------------------- NAVIGATION BAR ------------------- */
.navbar {
    /* keep it at top of screen*/
    position: fixed;
    top: 0;
    /* Always on top of other content*/
    z-index: 1;
    /* ul inside will be flex */
    display: flex;
    width: 100%;
    height: 60px;
    background: #ccc;
}

.navbar ul {
    /* lets you align the items */
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    /* 1 rem on left right */
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li {
    /* 1 rem on left right */
    margin: 0 1rem;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
}

.navbar ul li a:hover {
    color: skyblue;
}

/* ------------------- ALL SECTIONS ------------------- */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* make it full size */
    width: 100%;
    height: 100vh;
    /* snap into full page */
    scroll-snap-align: center;
}

section h1 {
    font-size: 4rem;
}

section p {
    font-size: 1.5rem;
}

/* ------------------- EVENT SECTION: CAROUSEL ------------------- */
.carousel-container {
    width: 80%;
    /* centers the container */
    margin: 25px auto;
  }
  
.carousel {
  /* border: 1px solid #FFF; */
  /* define height by length of content */
  height: 800px;
  /* need this to position child arrow elements absolutely */
  position: relative;
  /* only see whichever slider is present at the time */
  overflow: hidden;
}

.slider {
    /* fill height of parent */
    height: 100%;
    /* automatically aligns content horizontally*/
    display: flex;
    /* set width to be 4x parent = only show 1 slider at a time */
    width: 400%;
    /* so you can see movement */
    transition: all 0.3s;
  }
  
  .slider section {
    /* hold same space within slider */
    flex-basis: 100%;
    /* center the content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls .arrow {
    position: absolute;
    /* center them */
    top: 50%;
    /* center them better */
    transform:translateY(-50%);
    /* MORE OBVIOUS TO USER THAT THEY ARE INTERACTIVE */
    cursor: pointer;
}
  
.controls .arrow i {
    font-size: 50px;
}

/* position the arrows */
.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.controls ul {
    position: absolute;
    bottom: 20px;
    /* center it */
    left: 50%;
    transform: translate(-50%);
    /* remove bullet points */
    list-style: none;
    /* align horizontally */
    display: flex;
    /* centers the 4 circles below */
    margin: 0;
    padding: 0;
  }
  
  .controls ul li {
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    /* make border circles, not squares */
    border-radius: 50px;
    /* space them out */
    margin: 10px;
    background: #000;
    cursor: pointer;
  }
  
  /* if they are selected, turn transparent */
  .controls ul li.selected {
    background: #FFC759;
  }

/* ------------------- SECTION: TEAM ------------------- */

.team-container {
    margin: 20px 40px;
    color: white;
}

.team-name {
    font-size: 60px;
    color: white;
}

.team-profiles {
    /* appear in a row */
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;
}

.team-profile {
    /* set initial size */
    flex-basis: 260px;
}

.team-img {
    height: 260px;
    width: 260px;
    /* circular images */
    border-radius: 70%;
    /* make them grey unless selected */
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;
}

.team-profile:hover .team-img {
    /* when hover, show full colour */
    filter: grayscale(0);
}

.team-name {
    margin-top: 0px;
    font-size: 35px;
}

.team-profile h5 {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.team-profile p {
    font-size: 17px;
    text-align: justify;
}

/* ------------------- SECTION: CONTACT ------------------- */

#contact {
    padding: 1em;
    /* all widths will factor in padding and margin, rather than adding on */
    box-sizing: border-box;
    /* text stylings */
    font-family: 'Raleway';
    margin: 0;
}

.contact-container {
    /* for responsiveness */
    max-width: 1170px;
    /*appear on the left */
    margin-left: auto;
    margin-right: auto;
}

.company-info ul {
    list-style: none;
    padding: 0 0 1rem 0;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 white;
}

.company-info {
    background-color: thistle;
    text-align: center;
    padding: 0.5rem 0 0rem 0;
}

/* form */

.company-details {
    padding: 1rem;
}

.company-details p {
    margin: 0;
}

.company-details h3 {
    font-size: 40px;
}

.company-details form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.company-details form label {
    display: block;
}

.full-width {
    /* link submit button with message */
    grid-column: 1 / 3;
}

/* make sure it all spans across the full width of the container */
.company-details textarea, .company-details input, .company-details button {
    width: 100%;
    border: 2px solid thistle;
}

.company-details button {
    background: thistle;
    border: 0;
    text-transform: uppercase;
}

/* for large screens */
@media(min-width: 700px) {
    .contact-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 2em;
    }
    .company-info {
        text-align: left;
        padding: 1em;
    }

}
/* if the screen is very big, increase size */
@media(min-width: 1600px) {
    .contact-wrapper {
        width: 1000px;
    }
}